

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #005461;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 820px;
    height: 90px;
}

.div_texto_header {
    border: 3px solid white;
    border-radius: 25px;
    
    height: 100%;
    max-height: 70px;
    width: 100%;
    max-width: 820px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.postagens {
    height: auto;
    width: 820px;
    background-color: yellow;
}

